## Week 2

### Exercise:
Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as `groupby()` and `read_csv()`.

*Verilen verilerle önceki derslerdeki yöntemleri kullanın ve deneyimleyin. Verileri analiz etmek için "groupby()" ve "read_csv()" gibi diğer pandas yöntemlerini aramayı deneyin.*

In [1]:
# You can find covid related data under project's data folder 
base_url = "../data/covid/"
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

#### Solution:

In [2]:
import pandas as pd

In [3]:
infected_dataset = pd.read_csv(infected_dataset_url)

In [4]:
infected_dataset.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [5]:
recovered_dataset = pd.read_csv(recovered_dataset_url)

In [6]:
recovered_dataset.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
252,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [7]:
deaths_dataset = pd.read_csv(deaths_dataset_url)

In [8]:
deaths_dataset.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6